# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.idea/
*.swp
*.swo

# Telegram session files
parser/tg_parser/tg_session.session
*.session

.env